header {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100px;
    position: fixed;
}
.ImgPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 900px;
}
body {
    background-color: rgba(143,57,21,0.81);
}